<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{todo.note}}</mat-card-title>
    <mat-card-subtitle *ngIf="todo.date">{{todo.date | date}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="card-img" [src]="'data:image/png;base64,' + todo.attacment" alt="attacment"
    *ngIf="todo.attacment">

  <mat-card-actions>
    <button mat-raised-button (click)="editTodo()">Edit</button>
    <button mat-raised-button color="warn" (click)="deleteTodo()">Delete</button>
  </mat-card-actions>
</mat-card>
